<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="C:\Users\pwhite8\vlsi\fpga\software\nameless\nameless.elf"/>
<stringAttribute key="modelSimPath" value="C:\altera\13.0\modelsim_ase\win32aloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="nameless.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="nameless"/>
<stringAttribute key="spdPath" value="C:\Users\pwhite8\vlsi\fpga\first_nios2_system_tb.spd"/>
</launchConfiguration>
